@import './../../../styles/variables.scss';

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0) saturate(100%) invert(7%) sepia(3%) saturate(0%) hue-rotate(197deg) brightness(97%) contrast(85%);
}

@media (min-width: 62rem) {
  .image {
    width: auto;
  }
}
