$color-dark: #222222; //semi black
$color-light: #FAFAFA; //semi white
$color: #749C75; //green

$font-text: "Nunito", sans-serif;
$font-header: "Roboto Mono", monospace;

$transition-color: color .15s linear;

$basic-size: 12px;