$color-dark: #222222; //semi black
$color-light: #FAFAFA; //semi white
$color: #749C75; //green

$font-text: "Lexend Deca", sans-serif;
$font-header: "Space Grotesk", sans-serif;
$font-light: 200;
$font-regular: 400;
$font-bold: 700;

$transition-color: color .15s linear;
$transition-shadow: text-shadow .05s linear;

$basic-size: 12px;

$border-radius: $basic-size / 4;

$header-height: $basic-size * 6;