@import "./../../../styles/variables.scss";

.link {
  transition: $transition-color;

  &:hover,
  &___active {
    color: $color-light;
  }
}

@media (min-width: 62rem) {
  .link:hover,
  .link___active {
    color: $color-main;
  }
}
