@import "./../../../styles/variables.scss";

li {
  list-style-type: none;

  .link {
    transition: $transition-color;

    &:hover,
    &___active {
      color: $color-light;
    }
  }
}

@media (min-width: 62rem) {
  li {
    .link:hover,
    .link___active {
      color: $color-main;
    }
  }
}
