@import './../../../styles/variables.scss';

.contact {
  width: 90vw;

  &__success {
    border: 2px solid $color-dark;
    border-radius: $border-radius;
    padding: 10%;
    text-align: center;
  }
}

@media (min-width: 37.5rem) {
  .contact {
    width: 60vw;
  }
}

@media (min-width: 62rem) {
  .contact {
    width: 50vw;
  }
}