@import "./../../../styles/variables.scss";

.page {
  font-weight: 200;
  text-align: justify;
  width: 70vw;
  min-width: 280px;
  max-width: 1000px;

  &__imgs {
    width: 100%;
    margin: $basic-size * 2 0;
    display: flex;
    flex-direction: column;
    gap: $basic-size;

    &___wrapper {
      width: 100%;

      img {
        width: 100%;
      }
    }
  }
}
