@import "./../../../styles/variables.scss";

.link {
  display: flex;
  align-items: center;
  gap: calc($basic-size / 2);
  transition: $transition-color;

  &:hover {
    color: $color-main;
  }
}

.link___justify {
  @extend .link;
  justify-content: center;
}
