@import './../../../styles/variables.scss';

.player {

  &__title {
    font-family: $font-text;
    font-weight: $font-light;
    font-size: 1rem;  
  }
  
  &__box {
    border: 0;
    width: 300px;
    height: 420px;
    padding: 0;
  }  
}

@media (min-width: 37.5rem) {
  .player__box {
    width: 350px;
    height: 470px;
  }
}