@import "./../../../styles/variables.scss";

.player {
  margin-bottom: $basic-size;

  &__title {
    font-family: $font-text;
    font-weight: $font-light;
    font-size: 1rem;
    margin: 0 0 $basic-size;
  }

  &__box {
    border: 0;
    width: 300px;
    height: 420px;
    padding: 0;
    opacity: 0;
    animation: show 1.5s ease-in forwards;
  }
}

@keyframes show {
  to {
    opacity: 1;
  }
}

@media (min-width: 37.5rem) {
  .player__box {
    width: 350px;
    height: 470px;
  }
}
