@import "./../../../styles/variables.scss";

.wrapper {
  width: 90vw;
  min-width: 300px;
  max-width: 2000px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: $basic-size * 3;
}

.artwork {
  width: 90vw;
  min-width: 300px;
  margin: 0 auto;

  &__title {
    font-weight: $font-regular;
    letter-spacing: 0.1em;
    font-size: 1.5rem;
    text-align: start;
    position: relative;

    &:after {
      position: absolute;
      content: "";
      width: 100%;
      height: 1px;
      background-color: $color-dark;
      left: 0;
      bottom: calc($basic-size / -3);
    }
  }

  &__image {
    width: 100%;
    cursor: pointer;

    &___img {
      width: 100%;
    }
  }

  &__info {
    margin: $basic-size 0 ($basic-size * 2) 0;

    p {
      margin: 0;
      font-weight: $font-light;
    }
  }
}

@media (min-width: 62rem) {
  .artwork {
    width: 60vw;
    max-width: 1000px;
    margin-top: $basic-size * 5;
  }

  .buttons {
    position: fixed;
    top: 100px;
    right: 0;
    left: 0;
    width: 90%;
    z-index: 5;
    margin: 0 auto;
  }
}
